<div class="products">
  <header>
    <h2>Meus produtos</h2>

    <app-button
      label="Criar novo produto"
      variant="secondary"
      iconName="plus-circle"
      (click)="openAddProductModal()"
    />
  </header>

  @if (stores().length > 0) {
    <div class="products-select">
      <select (change)="refreshProductsListFromSelect($event)">
        @for (store of stores(); track store.store_slug) {
          <option [value]="store.store_slug">{{store.store_name}}</option>
        }
      </select>
    </div>
  }

  @if (products$) {
    @if (products$ | async; as response) {
      @if (response.products && response.products.length > 0) {
        <app-table
          [columnDefs]="tableColumnDefs"
          [data]="response.products"
          (cellClickEvent)="handleCellAction($event)"
        />
      }
      @else {
        <app-not-found>
          Não existem produtos cadastrados para a loja.
          Tente adicionar novos usando a opção "Criar novo produto".
        </app-not-found>
      }
    } @else {
      <app-loading />
    }
  }

  @if (!(stores().length > 0)) {
    <app-not-found>
      Não existem lojas cadastradas.
      Para gerenciar produtos, tente criar uma loja primeiro.
    </app-not-found>
  }
</div>

@if (isProductEditModalOpen()) {
  <app-modal
    [modalTitle]="'Editar produto ' + currentProduct()?.product_id"
    (modalState)="handleModalState({state: $event, data: null})"
  >
    <app-product-edit
      [product]="currentProduct()"
      (uploadImageEvent)="handleProductImageUpload($event)"
      (formState)="handleModalState($event)"
      [isProductEditFormLoading]="isFormLoading()"
      [isImageUploading]="isImageUploading()"
    />
  </app-modal>
}

@if (isAddProductModalOpen()) {
  <app-modal
    modalTitle="Criar novo produto"
    (modalState)="handleModalState({state: $event, data: null})"
  >
    <app-add-products
      (uploadImageEvent)="handleProductImageUpload($event, true)"
      (formState)="handleModalState($event)"
      [isAddProductFormLoading]="isFormLoading()"
    />
  </app-modal>
}
