<div class="products">
  <header>
    <h2>Meus produtos</h2>

    <app-button
      label="Criar novo produto"
      variant="tertiary"
      iconName="plus-circle"
    />
  </header>

  <div class="products-select">
    <select (change)="refreshProductsListFromSelect($event)">
      @for (store of stores(); track store.store_slug) {
        <option [value]="store.store_slug">{{store.store_name}}</option>
      }
    </select>
  </div>

  @if (products$) {
    @if (products$ | async; as response) {
      @for (product of response.products; track product.product_id) {
        {{product.name}}
      } @empty {
        <div class="products-not-found">
          <i class="ph ph-smiley-x-eyes"></i>
          <p>
            Não existem produtos cadastrados para a loja.
            Tente adicionar novos usando a opção "Criar novo produto".
          </p>
        </div>
      }
    } @else {
      <app-loading />
    }
  }

  @if (!(stores().length > 0)) {
    <p>Para acessar produtos, primeiro crie a sua loja.</p>
  }
</div>
