<div class="sign-up">
  <div class="sign-up-main">
    <div class="sign-up-main-content">
      <h1>Cadastre-se</h1>

      <p>Crie sua conta agora e comece a gerenciar suas lojas</p>

      <form
        [formGroup]="signUpForm"
        (ngSubmit)="handleSignUp(signUpForm.getRawValue())"
        class="sign-up-main-content-form"
      >
        <div>
          <label for="givenName">Seu nome</label>
          <input
            id="givenName"
            formControlName="given_name"
            type="email"
            placeholder="John"
            [class.input-error]="signUpForm.get('given_name')?.touched && signUpForm.get('given_name')?.invalid"
          >
          @if (signUpForm.get("given_name")?.touched) {
            @if (signUpForm.get("given_name")?.hasError("required")) {
              <p class="form-error-message">O campo é obrigatório.</p>
            }
          }
        </div>

        <div>
          <label for="familyName">Seu sobrenome</label>
          <input
            id="familyName"
            formControlName="family_name"
            type="email"
            placeholder="Doe"
            [class.input-error]="signUpForm.get('family_name')?.touched && signUpForm.get('family_name')?.invalid"
          >
          @if (signUpForm.get("family_name")?.touched) {
            @if (signUpForm.get("family_name")?.hasError("required")) {
              <p class="form-error-message">O campo é obrigatório.</p>
            }
          }
        </div>

        <div>
          <label for="email">Seu melhor e-mail</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            placeholder="example@email.com"
            [class.input-error]="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid"
          >
          @if (signUpForm.get("email")?.touched) {
            @if (signUpForm.get("email")?.hasError("required")) {
              <p class="form-error-message">O campo é obrigatório.</p>
            }
            @if (signUpForm.get("email")?.hasError("email")) {
              <p class="form-error-message">O valor precisa ser um e-mail válido.</p>
            }
          }
        </div>

        <div>
          <label for="password">Sua senha de acesso</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            placeholder="**********"
            [class.input-error]="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid"
          >
          @if (signUpForm.get("password")?.touched) {
            @if (signUpForm.get("password")?.hasError("required")) {
              <p class="form-error-message">O campo é obrigatório.</p>
            }
            @if (signUpForm.get("password")?.hasError("pattern")) {
              <p class="form-error-message">A senha não segue o padrão.</p>
            }
          }
        </div>

        <div>
          <label for="passwordConfirm">Repita a senha de acesso</label>
          <input
            id="passwordConfirm"
            formControlName="password_confirm"
            type="password"
            placeholder="**********"
            [class.input-error]="signUpForm.get('password_confirm')?.touched && signUpForm.get('password_confirm')?.invalid"
          >
          @if (signUpForm.get("password_confirm")?.touched) {
            @if (signUpForm.get("password_confirm")?.hasError("required")) {
              <p class="form-error-message">O campo é obrigatório.</p>
            }
            @if (signUpForm.get("password_confirm")?.hasError("pattern")) {
              <p class="form-error-message">A senha não segue o padrão.</p>
            }
            @if (signUpForm.get("password")?.value != signUpForm.get("password_confirm")?.value) {
              <p class="form-error-message">As senhas não conferem.</p>
            }
          }
        </div>

        @if (hasError()) {
          <p class="form-error-message">{{errorMessage}}</p>
        }

        <app-button
          label="Criar conta"
          [isDisabled]="signUpForm.invalid || isLoading()"
          [isLoading]="isLoading()"
        />
      </form>
    </div>

    <p>Já possui uma conta? Clique <a routerLink="/auth/sign-in">aqui</a> e entre agora mesmo!</p>
  </div>

  <div class="sign-up-image">
    <img src="imgs/sign-up.svg" alt="sign-up image">
  </div>
</div>
