<div class="forgot-password">
  <div class="forgot-password-main">
    <div class="forgot-password-main-content">
      <h1>Confirmar conta</h1>

      <p>Acesse seu e-mail e insira o código enviado para confirmar sua conta</p>

      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="handleForgotPassword()"
        class="forgot-password-main-content-form"
      >
        <div>
          <label for="email">Seu e-mail</label>
          <input
            id="email"
            formControlName="email"
            placeholder="john.doe@example.com"
            type="email"
            [class.input-error]="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid"
          >
          @if (forgotPasswordForm.get("email")?.touched) {
            @if (forgotPasswordForm.get("email")?.hasError("required")) {
              <p class="form-error-message">O campo é obrigatório.</p>
            }
            @if (forgotPasswordForm.get("email")?.hasError("email")) {
              <p class="form-error-message">O informado é inválido.</p>
            }
          }
        </div>

        @if (formStep() == 2) {
          <div>
            <label for="password">Nova senha de acesso</label>
            <input
              id="password"
              formControlName="password"
              placeholder="**********"
              type="password"
              [class.input-error]="forgotPasswordForm.get('password')?.touched && forgotPasswordForm.get('password')?.invalid"
            >
            @if (forgotPasswordForm.get("password")?.touched) {
              @if (forgotPasswordForm.get("email")?.hasError("pattern")) {
                <p class="form-error-message">O formato de senha indicado é inválido.</p>
              }
            }
          </div>

          <div>
            <label for="confirmationCode">Código de verificação</label>
            <input
              id="confirmationCode"
              formControlName="confirmation_code"
              placeholder="000000"
              [class.input-error]="forgotPasswordForm.get('confirmation_code')?.touched && forgotPasswordForm.get('confirmation_code')?.invalid"
            >
            @if (forgotPasswordForm.get("confirmation_code")?.touched) {
              @if (forgotPasswordForm.get("confirmation_code")?.hasError("pattern")) {
                <p class="form-error-message">O código precisa ter 6 dígitos e apenas números.</p>
              }
            }
          </div>
        }

        @if (hasError()) {
          <p class="form-error-message">{{errorMessage}}</p>
        }

        <app-button
          [label]="formStep() == 1 ? 'Enviar código' : 'Atualizar senha'"
          [isDisabled]="forgotPasswordForm.invalid || isLoading()"
          [isLoading]="isLoading()"
        />
      </form>
    </div>
  </div>

  <div class="forgot-password-image">
    <img src="imgs/account-confirm.svg" alt="forgot-password image">
  </div>
</div>
