.stores {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;

  header {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
