<div class="sign-in">
  <div class="sign-in-main">
    <div class="sign-in-main-content">
      <h1>Entrar</h1>

      <p>Entre agora e comece a gerenciar suas lojas</p>

      <form class="sign-in-main-content-form">
        <div>
          <label for="email">Seu e-mail</label>
          <input id="email" type="email" placeholder="example@email.com">
        </div>

        <div>
          <label for="password">Sua senha de acesso</label>
          <input id="password" type="password" placeholder="**********">
        </div>

        <button>Entrar</button>
      </form>
    </div>

    <p>Não possui uma conta? Clique <a routerLink="/auth/sign-up">aqui</a> e crie uma agora mesmo!</p>
  </div>

  <div class="sign-in-image">
    <img src="imgs/sign-in.svg" alt="sign-in image">
  </div>
</div>
