/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #FA5A2A;
  --secondary: #030711;
  --tertiary: #A4A8B5;
  --lighten: #E2E8F0;
  --danger: #D94352;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.form-error-message {
  color: var(--danger);
  font-size: 0.75rem !important;
}

.input-error {
  border-color: var(--danger) !important;
}

.button-loading {
  display: inline-block;
  animation: infiniteRotate 1s infinite linear;
}

@keyframes infiniteRotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
