.add-product {
  .add-product-uploads {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input {
      display: none;
    }

    .add-product-uploads-selected-file {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      i {
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 100%;

        &:hover {
          background-color: var(--lighten);
        }
      }
    }
  }

  .add-product-form {
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .add-product-form-item {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      flex-basis: 45%;
    }

    .item-grow {
      flex-basis: 100%;
    }

    label {
      font-size: 0.875rem;
      font-weight: 600;
    }

    input, textarea {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid var(--tertiary);
      width: 100%;
      outline: none;

      &:focus {
        border-color: var(--primary);
      }
    }

    textarea {
      resize: none;
      height: 6rem;
    }

    .product-status {
      flex-direction: row;
      flex-wrap: wrap;

      label {
        flex-basis: 100%;
      }

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;

        input {
          width: fit-content;
        }
      }
    }

    .add-product-form-btn-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-items: center;
      width: 100%;
    }
  }
}
