.loading-container {
  position: absolute;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  padding: 2rem;

  i {
    display: inline-block;
    font-size: 2rem;
    color: var(--tertiary);
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}
